@model EduPost.Models.Article

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Article</h4>
<hr />
<p>@ViewBag.Message</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ArticleTitle" class="control-label"></label>
                <input asp-for="ArticleTitle" class="form-control" />
                <span asp-validation-for="ArticleTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Files" class="control-label">Upload files</label>
                <input asp-for="Files" type="file" class="form-control" multiple />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            @* <div class="form-group" style="margin-top:20px;">
                <input asp-for="Public" type="checkbox" class="form-check-input" />
                <label for="Public" class="form-check-label">Public (Check this to set this article viewable by guest users)</label>
            </div> *@
            <div class="form-group" style="margin-top:20px;">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <input asp-for="AgreeToTerms" type="checkbox" class="form-check-input" />
                <label for="AgreeToTerms" class="form-check-label">I have read and agree to the Term and Conditions</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>