@model IEnumerable<EduPost.Models.Notification>

@{
    ViewData["Title"] = "Default";
}

<ul class="profile-dropdown-list" style="z-index:10;">
    <li class="profile-dropdown-list-item">
        @foreach (var notification in Model)
        {
            <a href="#" class="dropdown-item">
                <div class="d-flex align-items-center">
                    @await Component.InvokeAsync("Avatar")
                    <div class="ms-2">
                        <h6 class="fw-normal mb-0">@notification.Message</h6>
                        <small>@notification.Timestamp.ToString("dd MMM yyyy HH:mm")</small>
                    </div>
                </div>
            </a>
            <hr class="dropdown-divider">
        }
        <a href="#" class="dropdown-item text-center">See all notifications</a>
    </li>
</ul>