@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/style.css">
<link rel="icon" type="image/x-icon" href="~/favicon.ico" />
<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div>
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                </div>
                @* <span asp-validation-for="Input.Email" class="text-danger"></span> *@
            </div>
            <div>
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <button id="btnPassword-1" class="btn btn-secondary" type="button"><span class="bi bi-eye-fill"></span></button>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <p id="warning-1" class="text-danger" style="display:none">Caplock is on</p>
            </div>
            <div>
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <button id="btnPassword-2" class="btn btn-secondary" type="button"><span class="bi bi-eye-fill"></span></button>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <p id="warning-2" class="text-danger" style="display:none">Caplock is on</p>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        //caplock on check
        const input1 = document.getElementById("Input_Password");
        const warning1 = document.getElementById("warning-1");

        input1.addEventListener("keyup", function(event) {
            if (event.getModifierState("CapsLock")) {
	            warning1.style.display = "block";
            } else {
	            warning1.style.display = "none";
            }
        });
        //hide show password
        const btnElement1 = document.getElementById("btnPassword-1")

        btnElement1.addEventListener("click", function () {
            input1.setAttribute("type", input1.getAttribute("type") === "password" ? "text" : "password")
        })

        //caplock on check
        const input2 = document.getElementById("Input_ConfirmPassword");
        const warning2 = document.getElementById("warning-2");

        input2.addEventListener("keyup", function(event) {
            if (event.getModifierState("CapsLock")) {
	            warning2.style.display = "block";
            } else {
	            warning2.style.display = "none";
            }
        });
        //hide show password
        const btnElement2 = document.getElementById("btnPassword-2")

        btnElement2.addEventListener("click", function () {
            input2.setAttribute("type", input2.getAttribute("type") === "password" ? "text" : "password")
        })
    </script>
    
}
