@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<body style="height: 100%;
    width: 100%;
    background-image: url('/images/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">
    <div class="row">
        <div class="col-md-6">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div>
					<div class="form-floating mb-3 input-group">
						<input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
						<label asp-for="Input.OldPassword" class="form-label"></label>
						<button id="btnPassword-1" class="btn btn-outline-secondary" type="button"><span class="bi bi-eye-fill"></span></button>
					</div>
					<span asp-validation-for="Input.OldPassword" class="text-danger"></span>
					<p id="warning-1" class="text-danger" style="display:none">Caplock is on</p>
                </div>
				<div>
					<div class="input-group form-floating mb-3">
						<input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
						<button id="btnPassword-2" class="btn btn-outline-secondary" type="button"><span class="bi bi-eye-fill"></span></button>
						<label asp-for="Input.NewPassword" class="form-label"></label>
					</div>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    <p id="warning-2" class="text-danger" style="display:none">Caplock is on</p>
                </div>
				<div>
					<div class="input-group form-floating mb-3">
						<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
						<button id="btnPassword-3" class="btn btn-outline-secondary" type="button"><span class="bi bi-eye-fill"></span></button>
						<label asp-for="Input.ConfirmPassword" class="form-label"></label>
					</div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <p id="warning-3" class="text-danger" style="display:none">Caplock is on</p>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
            </form>
        </div>
    </div>

	<script>
		// Caplock on check (for Old Password)
		const inputOldPassword = document.getElementById("Input_OldPassword");
		const warningOldPassword = document.getElementById("warning-1");

		inputOldPassword.addEventListener("keyup", function (event) {
			if (event.getModifierState("CapsLock")) {
				warningOldPassword.style.display = "block";
			} else {
				warningOldPassword.style.display = "none";
			}
		});

		// Hide/show password (for Old Password)
		const btnOldPassword = document.getElementById("btnPassword-1");

		btnOldPassword.addEventListener("click", function () {
			inputOldPassword.setAttribute("type", inputOldPassword.getAttribute("type") === "password" ? "text" : "password");
		});

		// Caplock on check (for New Password)
		const inputNewPassword = document.getElementById("Input_NewPassword");
		const warningNewPassword = document.getElementById("warning-2");

		inputNewPassword.addEventListener("keyup", function (event) {
			if (event.getModifierState("CapsLock")) {
				warningNewPassword.style.display = "block";
			} else {
				warningNewPassword.style.display = "none";
			}
		});

		// Hide/show password (for New Password)
		const btnNewPassword = document.getElementById("btnPassword-2");

		btnNewPassword.addEventListener("click", function () {
			inputNewPassword.setAttribute("type", inputNewPassword.getAttribute("type") === "password" ? "text" : "password");
		});

		// Caplock on check (for Confirm Password)
		const inputConfirmPassword = document.getElementById("Input_ConfirmPassword");
		const warningConfirmPassword = document.getElementById("warning-3");

		inputConfirmPassword.addEventListener("keyup", function (event) {
			if (event.getModifierState("CapsLock")) {
				warningConfirmPassword.style.display = "block";
			} else {
				warningConfirmPassword.style.display = "none";
			}
		});

		// Hide/show password (for Confirm Password)
		const btnConfirmPassword = document.getElementById("btnPassword-3");

		btnConfirmPassword.addEventListener("click", function () {
			inputConfirmPassword.setAttribute("type", inputConfirmPassword.getAttribute("type") === "password" ? "text" : "password");
		});
	</script>
</body>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
